/* .header{
	background-image: url("../../images/chalkboard.jpg");
	position: relative;
	width: 100%;
	padding: 0px 0px 0px;
	font-family: 'Fredericka the Great', cursive;
} */

h1{
	text-align: center;
	font-size: 70px;

	padding: 0px 0 0px 0;

	color: whitesmoke;
}

h2{
	text-align: center;
	font-size: 25px;
	padding-bottom: 0px;
	color: whitesmoke;
}

