.background {
    background-image: url("/images/chalkboard.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

.form-control{
    margin-bottom: 5px;
    width: 50%;
    margin-left: 7.5%;
    font-family: 'Gaegu', cursive;
}

.labelMe{
    font-family: 'Gaegu', cursive;
    font-size: 24px;
    margin-left: 7.5%;
    color: whitesmoke;

}

.guide{
    font-family: 'Gaegu', cursive;
    text-align: left;
    color: whitesmoke;
    margin-left: 7.5%;
}

.dropBox{
    font-family: 'Gaegu', cursive;
    margin-left: 7.5%;
    width: 50%;
    margin-bottom:5px;
}